---
type Props = {
	title: string;
	lang: string;
	description: string;
};

const currentPath = Astro.url.href;
const { title, lang, description } = Astro.props as Props;
import Header from "@/components/blocks/Header.astro";
import "@/styles/globals.css";
import "@fontsource-variable/red-hat-text";
---

<!doctype html>
<html lang={lang}>
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <!--Primary Meta Tags -->
  <meta name="title" content={title}/>
  <meta name="description" content={description}/>
  <!-- Open Graph / Facebook -->
  <meta property="og:title" content={title}/>
  <meta property="og:description" content={description}/>
  <meta property="og:url" content={currentPath}/>
  <meta property="og:image" content="https://erkanaltinors.com/apple-touch-icon.png"/>
  <meta property="og:image:alt" content={description} />
  <meta property="og:image:width" content="180">
  <meta property="og:image:height" content="180">
  <!-- Twitter -->
  <meta property="twitter:title" content={title}>
  <meta property="twitter:description" content={description}>
  <meta property="twitter:site" content="@erkanaltinors">
  <meta property="twitter:creator" content="@erkanaltinors">
  <meta property="twitter:image" content=https://erkanaltinors.com/apple-touch-icon.png">
  <meta property="twitter:image:alt" content={description}>
  <slot name="author"/>
  <slot name="page-type"/>
  <!-- Icons -->
  <link rel="shortcut icon" href="/favicon.ico"/>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <title>{title}</title>
 </head>
 <body>
  <Header lang={lang}/>
  <slot />
 </body>
</html>